<iframe src="https://onedrive.live.com/embed?resid=97EBCAFF64247BA7%2189388&amp;authkey=%21ABo2Dak0JfqsqGQ&amp;em=2&amp;wdStartOn=1" width="722px" height="600px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> document, powered by <a target="_blank" href="https://office.com/webapps">Office Online</a>.</iframe>
<a href="src\assets\documents\Kobernyk-Berazouski_Yury.docx">Скачать реферат.</a>