<iframe src="https://onedrive.live.com/embed?resid=97EBCAFF64247BA7%2189389&amp;authkey=%21AKWljctxRKoDzS4&amp;em=2&amp;wdAr=1.3333333333333333" width="722px" height="565px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office Online</a>.</iframe>
<a href="src\assets\documents\Kobernyk-Berazouski_Yury.pptx">Скачать презентацию.</a>