<img src="src\assets\img\yury-kabernyk-berazouski.jpg" class="" alt="">
<h1 class="cover-heading" style="margin-bottom: 50px;">Коберник-Березовский Юрий Алексевич.</h1>
<p class="lead"><strong>Факультет: </strong> <a href="https://rfe.bsu.by/">Радиофизики и компьютерных технологий.</a>
</p>
<p class="lead"><strong>Кафедра: </strong> <a href="https://rfe.bsu.by/info/kafedry/sistanaliz">Системного анализа и
        компьютерного моделирования.</a>
</p>
<p class="lead"><strong>Научный руководитель: </strong> <a href="https://www.bsu.by/main.aspx?guid=104501">Скакун В.В.,
        кандидат физ.–мат. наук, доцент кафедры системного анализа и компьютерного моделирования.</a>
</p>